<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- Insert your Google Maps Developer Key here (only if you have not paid a subscription to Google for Work), if you plan on using the Google Maps proxies. -->
    <!-- Note, the GoogleMapsDeveloperKey takes precedence over the Google For Work values, so leave GoogleMapsDeveloperKey blank to use GoogleForWork values. -->
    <!--<add key="GoogleMapsDeveloperKey" value="AIzaSyAZJgdLeH1bnl_WgGcp-fga3nmYye0bYYc"/>-->
    <add key="GoogleMapsDeveloperKey" value=""/>

    <!-- Insert your Google For Work Client Id here, if you plan on using the Google Maps proxies. -->
    <add key="GoogleForWorkClientId" value="gme-bellcanada3"/>

    <!-- Insert your Google For Work Private Key here, if you plan on using the Google Maps proxies. -->
    <!--<add key="GoogleForWorkPrivateKey" value="vNIXE0xscrmjlyV-12Nj_BvUPaw="/>-->
    <add key="GoogleForWorkPrivateKey" value="anaOKcLyNvf6x6jljKF-7BSurVU="/>

    <!-- Insert your Bing Maps Key here, if you plan on using the Bing Maps proxies. -->
    <add key="BingMapsKey" value="Avj2hUtAalGzLUUdUeNs_7ylLYaKMpTPw-o1PBFemlZZh6fxmRo6xA5v5GRCbnpP"/>

    <!-- Insert your Here App Id Key here, if you plan on using the Here Maps proxies. -->
    <add key="HereAppId" value="DemoAppId01082013GAL"/>

    <!-- Insert your Here App Code Key here, if you plan on using the Here Maps proxies. -->
    <add key="HereAppCode" value="AJKnXv84fjrb0KIHawS0Tg"/>
    
    <!-- Define if you want to cache (save) the tile after they are fetched. Values should be true or false.-->
    <add key="IsCachingEnabled" value="true"/>
    
    <!-- Setup the directory where the cached tiles will be saved, if the caching is enabled. -->
    <add key="CacheRootDirectory" value="C:\Cache"/>
  </appSettings>

  <!--
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://fastweb.bell.ca:8083" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
  -->
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>