<?xml version="1.0" encoding="utf-8"?>

<Configuration>
 
  <!-- Names of the StyleCopViolations files to merge. Wildcards cannot be used. Full or relative path, non UNC only. -->
  <StyleCopFileNames>
    <StyleCopFileName>
      .\Resource\NO_EXISTING_FILE_NAME.xml
    </StyleCopFileName>
    <StyleCopFileName>
      .\Resource\NO_EXISTING_FILE_NAME_AGAIN.xml
    </StyleCopFileName>
  </StyleCopFileNames>

  <!-- File name for the merged stylecop.xml files. -->
  <MergeFileName>
    .\StyleCopMerged.xml
  </MergeFileName>

</Configuration>