<?xml version="1.0" encoding="utf-8"?>

<Configuration>
 
  <!-- Names of the StyleCopViolations files to merge. Wildcards cannot be used. Full or relative path, non UNC only. -->
  <StyleCopFileNames>
    <StyleCopFileName>
      .\NoViolationStyleCop.xml
    </StyleCopFileName>
    <StyleCopFileName>
      .\ManyValidationStyleCop.xml
    </StyleCopFileName>
  </StyleCopFileNames>

  <!-- File name for the merged stylecop.xml files. -->
  <MergeFileName>
    C:\Temp\StyleCopMerged.xml
  </MergeFileName>

</Configuration>